doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.png')
    meta(charset='utf-8')
  body
    block content
    footer.w3-container.w3-blue
      address
        span Gerado por EngWeb2025 em #{data} 
        a(href=voltar) Voltar
